In [1]:
import pandas as pd
import numpy as np
import os
from pathlib import Path

In [2]:

file_path = Path('D:/AlmaBetter/EDAproject/data/raw/paisabassarData.csv')
df = pd.read_csv(file_path)

remove duplicate records

In [3]:
initial_rows = df.shape[0]
df = df.drop_duplicates()
final_rows = df.shape[0]

print(f"Duplicates removed: {initial_rows - final_rows}")
df.to_csv(file_path, index=False)

Duplicates removed: 0

*** No missing values so no need for imputation ***

Separate Numerical & Categorical Columns

In [4]:
numerical_cols = df.select_dtypes(include=["int64", "float64"]).columns
categorical_cols = df.select_dtypes(include=["object"]).columns

numerical_cols, categorical_cols

(Index(['ID', 'Customer_ID', 'Month', 'Age', 'SSN', 'Annual_Income',
        'Monthly_Inhand_Salary', 'Num_Bank_Accounts', 'Num_Credit_Card',
        'Interest_Rate', 'Num_of_Loan', 'Delay_from_due_date',
        'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
        'Num_Credit_Inquiries', 'Outstanding_Debt', 'Credit_Utilization_Ratio',
        'Credit_History_Age', 'Total_EMI_per_month', 'Amount_invested_monthly',
        'Monthly_Balance'],
       dtype='object'),
 Index(['Name', 'Occupation', 'Type_of_Loan', 'Credit_Mix',
        'Payment_of_Min_Amount', 'Payment_Behaviour', 'Credit_Score'],
       dtype='object'))

Noise / Outlier Removal (IQR Method)

In [5]:
for col in numerical_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    df = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]

In [6]:
df.shape

(72961, 28)

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,72961.0,8.085765e+04,4.321230e+04,5634.000000,4.346100e+04,8.097500e+04,1.184160e+05,1.556290e+05
Customer_ID,72961.0,2.587008e+04,1.433137e+04,1006.000000,1.360800e+04,2.559100e+04,3.826000e+04,5.099900e+04
Month,72961.0,4.470183e+00,2.290975e+00,1.000000,2.000000e+00,4.000000e+00,6.000000e+00,8.000000e+00
Age,72961.0,3.353923e+01,1.083678e+01,14.000000,2.500000e+01,3.300000e+01,4.200000e+01,5.600000e+01
SSN,72961.0,5.000118e+08,2.917321e+08,81349.000000,2.424344e+08,5.002479e+08,7.582311e+08,9.999573e+08
Annual_Income,72961.0,3.991519e+04,2.703004e+04,7005.930000,1.850385e+04,3.270156e+04,5.710712e+04,1.459320e+05
Monthly_Inhand_Salary,72961.0,3.323046e+03,2.255370e+03,332.128333,1.553835e+03,2.723624e+03,4.715033e+03,1.203443e+04
Num_Bank_Accounts,72961.0,5.213525e+00,2.499947e+00,0.000000,3.000000e+00,5.000000e+00,7.000000e+00,1.100000e+01
Num_Credit_Card,72961.0,5.368169e+00,1.978150e+00,0.000000,4.000000e+00,5.000000e+00,7.000000e+00,1.100000e+01
Interest_Rate,72961.0,1.383656e+01,8.335400e+00,1.000000,7.000000e+00,1.200000e+01,1.900000e+01,3.400000e+01
Num_of_Loan,72961.0,3.257699e+00,2.206961e+00,0.000000,2.000000e+00,3.000000e+00,4.000000e+00,9.000000e+00
Delay_from_due_date,72961.0,1.891147e+01,1.229793e+01,0.000000,9.000000e+00,1.700000e+01,2.600000e+01,5.500000e+01
Num_of_Delayed_Payment,72961.0,1.293192e+01,5.961903e+00,0.000000,9.000000e+00,1.300000e+01,1.800000e+01,2.500000e+01
Changed_Credit_Limit,72961.0,9.886695e+00,5.810297e+00,0.500000,5.380000e+00,9.250000e+00,1.373000e+01,2.869000e+01
Num_Credit_Inquiries,72961.0,5.475350e+00,3.662828e+00,0.000000,3.000000e+00,5.000000e+00,8.000000e+00,1.500000e+01
Outstanding_Debt,72961.0,1.192380e+03,8.309275e+02,0.230000,5.305100e+02,1.081660e+03,1.598330e+03,3.615940e+03
Credit_Utilization_Ratio,72961.0,3.198963e+01,4.993525e+00,20.830946,2.779332e+01,3.200204e+01,3.620575e+01,4.755598e+01
Credit_History_Age,72961.0,2.303646e+02,9.445416e+01,1.000000,1.620000e+02,2.260000e+02,3.070000e+02,4.040000e+02
Total_EMI_per_month,72961.0,7.571802e+01,6.905332e+01,0.000000,2.463927e+01,5.420136e+01,1.079902e+02,2.971649e+02
Amount_invested_monthly,72961.0,4.528358e+01,2.565127e+01,0.000000,2.609876e+01,4.033089e+01,5.950974e+01,1.289085e+02
Monthly_Balance,72961.0,3.544226e+02,1.294082e+02,4.128951,2.704626e+02,3.285195e+02,4.222750e+02,7.259901e+02

In [8]:
output_dir = r"D:\AlmaBetter\EDAproject\data\proccessed"
os.makedirs(output_dir, exist_ok=True)

output_path = os.path.join(output_dir, "paisabazaar_processed.csv")
df.to_csv(output_path, index=False)

print(f"Processed dataset saved at:\n{output_path}")

Processed dataset saved at:
D:\AlmaBetter\EDAproject\data\proccessed\paisabazaar_processed.csv